$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$start-screen-gradient-background: #211f20;
$footer-gradient-background: #211f20;

.character {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  background-color: $color-light-s;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  margin: 1rem;
  font-size: 2rem;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  width: 25rem;
  min-height: 13rem;
  cursor: pointer;

  &_detail {
    width: auto;
    cursor: auto;
    .character__title {
      font-weight: bold;
    }
  }
  p {
    margin: 0;
    padding: 0.5rem 0;
  }

  &:hover {
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  &__title {
    align-self: center;
    font-size: 2.5rem;
  }
  &__race {
    align-self: center;
    font-size: 2rem;
  }
  &__field {
    font-weight: bold;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: #2c0b0b;
    }
  }
}
